about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Title h1 {
    font-size: 2rem;
    color: #053770;
    margin-bottom: 1rem;
}

.content-list {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.content-list li {
    margin: 0.5rem 0; /* Adds space between each list item */
    color: #333;
}
