home {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

home .title {
    color: #FB5C02;
}

.animation-container {
    text-align: center;
    max-width: 80%; /* Controls the width of the text area */
    margin: 0 auto; /* Centers the container itself */
    font-size: 1.25rem;
    line-height: 1.5;
    color: #FB5C02;
}
