home {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 0.5rem;
    padding: 0.75rem 0;
}

.home-title {
    color: #FB5C02;
    margin-bottom: 0;
    padding-bottom: 0;
}

.home-title h1 {
    margin-left: 2rem;
    text-align: left;
    line-height: 1.1;
    font-size: 4rem;
    font-family: 'Cactus Classical Serif';
    font-weight: normal; 
}

.info {
    color: #FB5C02;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.info h1 {
    margin-left: 2rem;
    line-height: 1.1;
    font-size: 4rem;
    font-family: 'Cactus Classical Serif';
    font-weight: normal; 
}

.animation-container {
    text-align: left;
    max-width: 100%; 
    margin-left: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #FB5C02;
}

.animation-container2 {
    text-align: center;
    max-width: 100%; 
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #FB5C02;
}

.event, .conference {
  width: auto;        
  max-width: 45%;     
  height: auto;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 1);
}

.image-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  margin: 4rem 3rem;             
}

.conference2, .graduation {
  width: auto;        
  max-width: 45%;     
  height: auto;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 1);
}
