leadership {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

leadership .title {
   color: #FB5C02;
}

leadership .Subtitle {
    color: #FB5C02;
}

leadership .people {
    color: black;
    
}