leadership {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

leadership .title {
    color: #000000;
}

leadership .people {
    color: black;
    
}